In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# reading the Dataset

data = pd.read_csv('movehubcostofliving.csv')
data.shape

(216, 7)

In [4]:
# lets check the Head of the Data
data.head()

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11
1,Zurich,3.28,12.59,8.40,1.31,2378.61,4197.55
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55

### Find out the Places where Cappuccino is Least and Most Expensive

In [10]:
print("The Places where Cappuccino is Very Cheap")
print(data[['City','Cappuccino']].sort_values(by = 'Cappuccino').head(5).reset_index(drop = True))

print("\n The Places where Cappuccino is very Expensive")
print(data[['City','Cappuccino']].sort_values(by = 'Cappuccino', ascending = False).head(5).reset_index(drop = True))

The Places where Cappuccino is Very Cheap
          City  Cappuccino
0  Addis Ababa        0.46
1        Kochi        0.60
2      Chennai        0.66
3        Porto        0.68
4    Ahmedabad        0.72

 The Places where Cappuccino is very Expensive
         City  Cappuccino
0   Stavanger        4.48
1      Bergen        3.92
2   Nashville        3.84
3   Trondheim        3.81
4  Copenhagen        3.66

### Find out the Places where Cinema is Least and Most Expensive

In [11]:
print("The Places where Cinema is Very Cheap")
print(data[['City','Cinema']].sort_values(by = 'Cinema').head(5).reset_index(drop = True))

print("\n The Places where Cinema is very Expensive")
print(data[['City','Cinema']].sort_values(by = 'Cinema', ascending = False).head(5).reset_index(drop = True))

The Places where Cinema is Very Cheap
        City  Cinema
0  Hyderabad    1.81
1    Chennai    1.81
2      Kochi    1.81
3      Davao    1.90
4      Dhaka    2.09

 The Places where Cinema is very Expensive
       City  Cinema
0    Riyadh   79.49
1  Brighton   14.95
2    Geneva   12.94
3  Lausanne   12.59
4    Zurich   12.59

### Find out the Places where Wine is Least and Most Expensive

In [ ]:
print("The Places where Wine is Very Cheap")
print(data[['City','Wine']].sort_values(by = 'Wine').head(5).reset_index(drop = True))

print("\n The Places where Wine is very Expensive")
print(data[['City','Wine']].sort_values(by = 'Wine', ascending = False).head(5).reset_index(drop = True))

### Find out the Places where Gasoline is Least and Most Expensive

In [ ]:
print("The Places where Gasoline is Very Cheap")
print(data[['City','Gasoline']].sort_values(by = 'Gasoline').head(5).reset_index(drop = True))

print("\n The Places where Gasoline is very Expensive")
print(data[['City','Gasoline']].sort_values(by = 'Gasoline', ascending = False).head(5).reset_index(drop = True))

### Find out the Places where Rent is Least and Most Expensive

In [15]:
print("The Places where Avg Rent is Very Low")
print(data[['City','Avg Rent']].sort_values(by = 'Avg Rent').head(5).reset_index(drop = True))

print("\n The Places where Avg Rent is very High")
print(data[['City','Avg Rent']].sort_values(by = 'Avg Rent', ascending = False).head(5).reset_index(drop = True))

The Places where Avg Rent is Very Low
        City  Avg Rent
0   Vadodara    120.68
1      Kochi    181.02
2  Ahmedabad    193.08
3    Karachi    197.78
4     Indore    205.15

 The Places where Avg Rent is very High
        City  Avg Rent
0  Hong Kong   5052.31
1   New York   3268.84
2  Singapore   3164.42
3     Sydney   2788.71
4     Geneva   2607.95

### Find out the Least Expensive and Most Expensive Cities in the World

In [14]:
print("The Places where Avg Disposable Income is Very Low")
print(data[['City','Avg Disposable Income']].sort_values(by = 'Avg Disposable Income').head(5).reset_index(drop = True))

print("\n The Places where Avg Rent is very High")
print(data[['City','Avg Disposable Income']].sort_values(by = 'Avg Disposable Income',
                                                    ascending = False).head(5).reset_index(drop = True))

The Places where Avg Disposable Income is Very Low
          City  Avg Disposable Income
0       Indore                 120.68
1  Addis Ababa                 124.22
2       Lahore                 132.95
3      Karachi                 139.60
4        Davao                 158.34

 The Places where Avg Rent is very High
       City  Avg Disposable Income
0  Lausanne                4266.11
1    Zurich                4197.55
2    Geneva                3917.72
3     Basel                3847.76
4     Perth                3358.55