In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# reading the Dataset

data = pd.read_csv('movehubcostofliving.csv')
data.shape

(216, 7)

In [4]:
# lets check the Head of the Data
data.head()

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11
1,Zurich,3.28,12.59,8.40,1.31,2378.61,4197.55
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55

### Find out the Places where Cappuccino is Least and Most Expensive

### Find out the Places where Cinema is Least and Most Expensive

### Find out the Places where Wine is Least and Most Expensive

### Find out the Places where Gasoline is Least and Most Expensive

### Find out the Places where Rent is Least and Most Expensive

### Find out the Least Expensive and Most Expensive Cities in the World